<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Avinash Vangpandu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>

<body onload="draw()">
    <main id="content">
        <h1>
            <div class="hex moved"></div><span>About the Dev</span></h1>
        <div class="subtext" id="main">
            <p>The name's Avinash. I'm a 20year-old Engineering student with a tech background, who designs and builds.My childhood obsession with tech made me choose Computer science domain for my undergraduate degree.</p>
            <p>During my 4th semester
                when i was introudced to the world of data science and machine learning i fell in love with it.Machine learning changed the life of people with its predictions and algorithms.I have been exploring the world of machine learning for the last 1 year.
                I made many projects and also one my project-<b>Crypto currecny price predictor</b> was recognized as one of the top 10 projects of my college by 
            the github student club during the proton showcase.I like building models as long as I can be a nerd about it.</p> 

            </p>
        </div>
        <h2>
            <div class="hex"></div><span>Skills</span></h2>
        <div class="subtext coll">
            <ul>
                <li>Python</li>
                <li>flask</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>DSA</li>
                <li>Competitive coding</li>
                <li>Problem solving</li>
                <li>Machine learning basics</li>
                <li>Power Bi</li>
            </ul>
        </div>
        <h2>
            <div class="hex"></div><span>Hobbies & Interests</span></h2>
        <div class="subtext coll">
            Small indie coding projects (semi-professionally). Watching series (unprofessionally). Massively multiplayer online games (clumsily). Eating (hungrily).
        </div>
        <h2>
            <div class="hex"></div><span>Currently Working On</span></h2>
        <div class="subtext coll">
                    A end to end projec that predicts prices of some crypto currencies like ethereum, bitcoin, and litecoin on the entered date using machine learning.
        </div>
        
        <h2>
            <div class="hex"></div><span>Find Me</span></h2>
        <div class="subtext coll">
            <a href="https://www.linkedin.com/in/avinash-vangapandu-11124b1aa/">Linkedin</a> &nbsp; &nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp; &nbsp; <a href="https://leetcode.com/vavinash992/">Leetcode</a>&nbsp; &nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp; &nbsp; <a href="https://github.com/vavinash992">github</a> 
        </div>
        
        <h2>
            <div class="hex"></div><span>Contact Me</span></h2>
        <div class="subtext coll">
            <ul>
                <li>Phone: +91 6301644549</li>
                <li>E-mail: <a>vavinash992@gmail.com</a></li>
            </ul>
        </div>

    </main>

</body>
<script  src="{{url_for('static', filename='script.js')}}"></script>></script>

</html>
